.service {
    .inner {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.service-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: $main-color;
    line-height: 1;
    letter-spacing: 0.025em;
    margin-bottom: 7px;
}

.service-txt {
    font-family: Helvetica;
    font-weight: bold;
    color: $main-color;
    letter-spacing: 0.075em;
    line-height: 1.7;
}

.service-items {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    img {
        width: 380px;
        height: 220px;
    }
}