body {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
    width: 1200px;
}
